/* 全局css文件 */
/* 默认字体颜色*/
.f-color{
	color: #636363;
}
/* 选中字体颜色*/
.f-active-color{
	color: #498DFB;
}
/* 默背景颜色*/
.bg-color{
	/* color: #4287F8; */
	color: #AFEEEE;
}
/* 控制不显示滚动条 */
	::-webkit-scrollbar{
		display: none;
		width:0 !impotent;
		height: 0 !important;
		-webkit-appearance: none;
		background:transparent;
	}
	
	uni-page-wrapper::after{
		display: none;
	}