/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4075334 */
  src: url('//at.alicdn.com/t/c/font_4075334_kql9adjymoa.woff2?t=1684410134715') format('woff2'),
       url('//at.alicdn.com/t/c/font_4075334_kql9adjymoa.woff?t=1684410134715') format('woff'),
       url('//at.alicdn.com/t/c/font_4075334_kql9adjymoa.ttf?t=1684410134715') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-lajitong:before {
  content: "\e65f";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-fangdajing:before {
  content: "\e637";
}

